@layer components {
    /* Fale conosco */
    .fale-conosco {
        @apply
        xs:py-24 py-20
    }

    .fale-conosco__content {
        @apply
        w-full
        flex flex-row justify-between xxs:gap-10 gap-6
    }

    .fale-conosco__content .content-image {
        @apply
        2xs:flex hidden justify-end xs:items-center items-start
        xs:max-w-full max-w-[100px]
    }

    .fale-conosco__content svg {
        @apply
        max-w-[164px]
    }
}