@layer components {
    /* Fale conosco */
    .fale-conosco {
        @apply
        py-24
    }

    .fale-conosco__content {
        @apply
        w-full
        flex flex-row justify-between gap-10
    }

    .fale-conosco__content .content-image {
        @apply
        flex justify-end
    }

    .fale-conosco__content svg {
        @apply
        max-w-[164px]
    }
}