@layer components {
    /* Hero */

    .hero {
        @apply
        relative
        bg-bege-claro
    }

    .hero__header {
        @apply
        pt-10 px-8
    }

    .hero__header h1 {
        @apply
        text-7xl font-bold
        max-w-[914px]
    }

    .hero__content {
        @apply
        flex items-stretch gap-10
        pt-8
    }

    .hero__content-left {
        @apply
        w-auto pb-10 pl-8
        flex flex-col justify-between items-start
    }

    .hero__content-right {
        @apply
        w-full -mb-12 overflow-hidden
    }

    .hero__content-left-text {
        @apply
        w-auto max-w-[434px] min-w-[434px]
        flex flex-col items-start gap-4
    }

    .hero__content-left-more a {
        @apply
        w-auto py-4 px-6
        flex items-center justify-center
        text-sm text-vermelho-grena font-medium uppercase tracking-widest
        border-b border-vermelho-grena
        gap-3
    }

    /* Hero Carousel */

    .hero__carousel.embla {
        margin: auto;
        --slide-spacing: 40px;
        --slide-size: 100%;
    }
    .hero__carousel .embla__viewport {
        overflow: hidden;
    }
    .hero__carousel .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(var(--slide-spacing) * -1);
    }
    .hero__carousel .embla__slide {
        flex: 0 0 calc(var(--slide-size) - (var(--slide-spacing) * 2 - 8px));
        min-width: 0;
        padding-left: var(--slide-spacing);
    }

    .hero__carousel .embla__slide img {
        @apply
        block w-full h-auto object-cover
        transition-all duration-500
    }

    .hero__carousel .embla__slide.active img {
        @apply
        rounded-tl-4xl
    }

    .hero__carousel {
        @apply
        max-h-[520px]
    }

    /* SplitText Animation */

    .hero__header h1 .split-word {
        display: inline-block;
        will-change: transform, opacity, filter;
    }
}