@layer components {
    /* Hero */

    .hero {
        @apply
        relative
        bg-bege-claro
    }

    .hero__header {
        @apply
        pt-10 md:px-10 px-6
    }

    .hero__header h1 {
        @apply
        xl:text-7xl text-6xl font-bold
        max-w-[954px]
    }

    .hero__content {
        @apply
        flex items-stretch gap-10
        pt-8
    }

    .hero__content-left {
        @apply
        w-auto pb-10 md:pl-10 pl-6
        flex flex-col justify-between items-start gap-10
    }

    .hero__content-right {
        @apply
        w-full -mb-12 overflow-hidden
    }

    .hero__content-left-text {
        @apply
        w-auto xl:max-w-[434px] xl:min-w-[434px] 
        md:max-w-[300px] md:min-w-[300px]
        max-w-[340px] min-w-[340px]
        flex flex-col items-start gap-4
    }

    .hero__content-left-more a {
        @apply
        w-auto py-4 px-6
        flex items-center justify-center
        text-sm text-vermelho-grena font-medium uppercase tracking-widest
        border-b border-vermelho-grena
        gap-3
    }

    /* Hero Carousel */

    .hero__carousel.embla {
        margin: auto;
        --slide-spacing: 24px;
        --slide-size: 100%;
    }
    @media (min-width: 768px) {
        .hero__carousel.embla {
            --slide-spacing: 40px;
        }
    }
    .hero__carousel .embla__viewport {
        overflow: hidden;
    }
    .hero__carousel .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(var(--slide-spacing) * -1);
    }
    .hero__carousel .embla__slide {
        flex: 0 0 calc(var(--slide-size) - (var(--slide-spacing) * 2));
        min-width: 0;
        padding-left: var(--slide-spacing);
    }

    .hero__carousel .embla__slide img {
        @apply
        block w-full h-full object-cover
        transition-all duration-500
    }

    .hero__carousel .embla__slide.active img {
        @apply
        rounded-tl-4xl
    }

    .hero__carousel .embla__slide {
        @apply
        xl:max-h-[520px] xl:min-h-[520px] max-h-[420px] min-h-[420px]
    }

    /* SplitText Animation */

    .hero__header h1 .split-word {
        display: inline-block;
        will-change: transform, opacity, filter;
    }
}