@layer components {
    /* Hero */

    .hero {
        @apply
        relative
        bg-bege-claro
    }

    .hero__header {
        @apply
        pt-10 md:px-10 2xs:px-6 px-4
    }

    .hero__header h1 {
        @apply
        xl:text-7xl sm:text-6xl 2xs:text-5xl text-4xl font-bold
        max-w-[954px]
    }

    .hero__content {
        @apply
        flex sm:flex-row flex-col items-stretch sm:gap-10 gap-6
        sm:pt-8 pt-6
    }

    .hero__content-left {
        @apply
        w-auto sm:pb-10 pb-0 md:pl-10 2xs:pl-6 px-4 sm:pr-0 pr-6
        flex flex-col justify-between items-start sm:gap-10 gap-6
    }

    .hero__content-right {
        @apply
        w-full -mb-12 2xs:ml-6 ml-4 sm:overflow-hidden overflow-visible
    }

    .hero__content-left-text {
        @apply
        w-auto xl:max-w-[434px] xl:min-w-[434px] 
        md:max-w-[300px] md:min-w-[300px]
        sm:max-w-[340px] sm:min-w-[340px]
        max-w-full min-w-full
        flex flex-col items-start gap-4
    }

    .hero__content-left-more a {
        @apply
        w-auto py-4 px-6
        flex items-center justify-center
        text-sm text-vermelho-grena font-medium uppercase tracking-widest
        border-b border-vermelho-grena
        gap-3
    }

    /* Hero Carousel */

    .hero__carousel.embla {
        margin: auto;
        --slide-spacing: 16px;
        --slide-size: 100%;
    }
    @media (min-width: 374px) {
        .hero__carousel.embla {
            --slide-spacing: 24px;
        }
    }
    @media (min-width: 768px) {
        .hero__carousel.embla {
            --slide-spacing: 40px;
        }
    }
    .hero__carousel .embla__viewport {
        @apply
        sm:overflow-hidden overflow-visible
    }
    .hero__carousel .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(var(--slide-spacing) * -1);
    }
    .hero__carousel .embla__slide {
        flex: 0 0 calc(var(--slide-size) - (var(--slide-spacing) * 2));
        min-width: 0;
        padding-left: var(--slide-spacing);
    }

    .hero__carousel .embla__slide img {
        @apply
        block w-full h-full object-cover
        transition-all duration-500
    }

    .hero__carousel .embla__slide.active img {
        @apply
        rounded-tl-4xl
    }

    .hero__carousel .embla__slide {
        @apply
        xl:max-h-[520px] xl:min-h-[520px] 
        sm:max-h-[420px] sm:min-h-[420px]
        max-h-[280px] min-h-[280px]
    }

    /* SplitText Animation */

    .hero__header h1 .split-word {
        display: inline-block;
        will-change: transform, opacity, filter;
    }
}