@layer components {
    /* Nossos Serviços */
    .nossos-servicos {
        @apply
        relative xs:pt-24 pt-20 rounded-tl-4xl
        bg-azul-petroleo
    }

    .nossos-servicos__header {
        @apply
        pb-14
    }

    .nossos-servicos__itens {
        @apply
        relative isolate
    }

    .nossos-servicos__item {
        @apply
        relative
        flex items-stretch md:flex-row flex-col
        min-h-dvh
        border-t border-azul-petroleo-900
        bg-azul-petroleo overflow-hidden;
        transform-origin: center top;
        will-change: transform, opacity, filter, border-radius, box-shadow;
    }

    .nossos-servicos__item-content,
    .nossos-servicos__item-images {
        @apply
        relative
        w-full h-auto
    }

    .nossos-servicos__item-content {
        @apply
        flex flex-col justify-between
    }

    .nossos-servicos__item-content-text {
        @apply
        py-10 md:px-10 2xs:px-6 px-4
    }

    .nossos-servicos__item-content-text.content-text h3 {
        @apply
        xl:text-7xl xxs:text-5xl text-4xl
    }

    .nossos-servicos__item-content-text.content-text p {
        @apply
        2xs:text-xl text-lg
    }

    .nossos-servicos__item-images {
        @apply
        md:max-w-[44%] max-w-full md:min-h-full min-h-80
    }

    .nossos-servicos__item-images-item {
        @apply
        w-full h-full
        absolute top-0 left-0
    }

    .nossos-servicos__item-images-item img {
        @apply
        w-full h-full object-cover object-center
    }

    .nossos-servicos__item-images-btn {
        @apply
        absolute z-10
        w-full pb-10 md:pr-10 2xs:pr-6 pr-4 bottom-0 left-0
        flex items-center justify-end
        bg-gradient-to-t from-azul-petroleo-900/90 to-transparent
    }

    .nossos-servicos__item-content-destaques {
        @apply
        flex flex-col items-start
    }

    .nossos-servicos__item-content-destaques-item {
        @apply
        w-full xl:py-10 py-8 md:px-10 px-6
        flex items-center justify-start gap-6
        border-t border-azul-petroleo-900
        hover:bg-azul-petroleo-900
        transition-all duration-500
    }

    .nossos-servicos__item-content-destaques-item span {
        @apply
        lg:text-xl 2xs:text-lg text-base;
        color: var(--text-color);
    }

    .nossos-servicos__item-content-destaques-item-icon {
        @apply
        lg:w-20 lg:h-20 lg:min-h-20 lg:min-w-20
        w-16 h-16 min-h-16 min-w-16
        flex items-center justify-center
        rounded-full border border-azul-petroleo-900
        transition-all duration-500
    }

    .nossos-servicos__item-content-destaques-item-icon .ph-icon {
        @apply
        lg:text-5xl text-4xl text-bege-claro
        transition-all duration-500
    }

    .nossos-servicos__item-content-destaques-item:hover .nossos-servicos__item-content-destaques-item-icon {
        @apply
        bg-bege-claro border-bege-claro
    }

    .nossos-servicos__item-content-destaques-item:hover .nossos-servicos__item-content-destaques-item-icon .ph-icon {
        @apply
        text-azul-petroleo
    }
}