@layer components {
    /* Projetos */
    .projetos {
        @apply
        relative overflow-hidden
        min-h-dvh bg-azul-petroleo;

        /* Otimizações para scroll snap */
        will-change: transform;
        transform: translateZ(0); /* Force hardware acceleration */
    }

    .projetos__background {
        @apply
        absolute z-0
        
        overflow-hidden blur-[180px]
        pointer-events-none
    }

    .projetos__background.projetos__background-1 {
        @apply
        -top-1/2 -left-1/2
        w-full h-full 
    }

    .projetos__background.projetos__background-2 {
        @apply
        -bottom-[70%] -right-[70%]
        w-full h-full 
    }

    .projetos__background svg {
        @apply
        md:w-full xs:w-[150%] w-[240%] h-full object-cover object-center
    }

    .projetos__background svg ellipse {
        @apply
        fill-azul-petroleo
    }

    .projetos__images {
        @apply
        absolute top-0 left-0 w-full h-full z-0
        overflow-hidden
    }

    .projetos__images-item-image {
        @apply
        relative w-full min-h-dvh
    }

    .projetos__images-item-image img {
        @apply
        absolute top-0 left-0 w-full h-full object-cover object-center
    }

    /* Carousel */

    .projetos__images.embla {
        margin: auto;
        --slide-spacing: 0px;
        --slide-size: calc(100% / 1);
    }

    .projetos__images .embla__viewport {
        overflow: hidden;
    }

    .projetos__images .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(var(--slide-spacing) * -1);
        padding-right: var(--slide-spacing);
    }

    .projetos__images .embla__slide {
        flex: 0 0 var(--slide-size);
        min-width: 0;
        padding-left: var(--slide-spacing);
    }

    .projetos__content {
        @apply
        absolute top-0 left-0 z-20 overflow-hidden
        w-full h-full
        flex flex-col justify-between
        pointer-events-none
    }

    .projetos__content-main {
        @apply
        w-full py-10 md:px-10 2xs:px-6 px-4
        flex flex-col gap-4 items-start
    }

    .projetos__content-header {
        @apply
        w-full pointer-events-auto
        flex items-center justify-between gap-10
    }

    .projetos__content-header-content {
        @apply
        flex xxs:flex-row flex-col items-center justify-between xxs:gap-8 gap-6
    }

    .projetos__content-header-content .btn {
        @apply
        text-nowrap
    }

    .projetos__content-footer {
        @apply
        w-full py-10 md:px-10 2xs:px-6 px-4
        flex items-end justify-between gap-10
    }

    .projetos__content-footer-nav {
        @apply
        pointer-events-auto
    }

    .projetos__content-footer-count {
        @apply
        flex items-center
        text-4xl font-bold;
        color: var(--heading-color);
    }

    .projetos__content-footer-count-current {
        @apply
        font-normal
    }
}