@layer components {
    .portfolio-modal {
        @apply
        fixed inset-0 z-50 xs:py-10 py-6 md:px-10 2xs:px-6 px-4
        flex items-center justify-center
        pointer-events-none opacity-0
        hidden
    }
    
    .portfolio-modal.is-open {
        @apply
        pointer-events-auto opacity-100 block
    }

    .portfolio-modal__loading {
        @apply
        absolute inset-0 z-50
        flex items-center justify-center
        text-bege-claro-50
        bg-azul-petroleo-950/60
        backdrop-blur-sm
        opacity-0 pointer-events-none
        transition-opacity duration-300
    }

    .portfolio-modal__loading.is-visible {
        @apply
        opacity-100 pointer-events-auto
    }

    .portfolio-modal__loading-text {
        @apply
        ml-4 text-xl font-medium
    }
    
    .portfolio-modal__overlay {
        @apply
        absolute inset-0
        bg-azul-petroleo-950/60
        backdrop-blur-md
    }
    
    .portfolio-modal__wrapper {
        @apply
        relative z-10
        w-full sm:h-full h-auto
        bg-azul-petroleo
        overflow-hidden
        shadow-2xl
        flex flex-col md:flex-row
    }
    
    /* Gallery Section */
    .portfolio-modal__gallery {
        @apply
        w-full sm:h-full h-auto
        bg-bege-claro-200
        relative overflow-hidden
    }
    
    .portfolio-modal__gallery-slider {
        @apply w-full h-full
    }
    
    .portfolio-modal__gallery-container {
        @apply flex w-full h-full
    }
    
    .portfolio-modal__gallery-slide {
        @apply
        flex-[0_0_100%] min-w-0
        relative w-full h-full
    }
    
    .portfolio-modal__gallery-image {
        @apply
        w-full h-full object-cover sm:min-h-full min-h-[240px]
    }
    
    /* Gallery Navigation */
    .portfolio-modal__gallery-nav {
        @apply
        sm:absolute relative sm:bottom-8 bottom-0 sm:left-8 left-0 z-20
    }
    
    /* Content Section */
    .portfolio-modal__content {
        @apply
        w-full lg:max-w-[32%] md:max-w-[40%] max-w-full h-auto lg:h-full
        lg:py-10 py-8 md:px-10 2xs:px-6 px-4
        flex flex-col
    }

    .portfolio-modal__header h2 {
        @apply
        text-2xl
    }

    .portfolio-modal__header .btn {
        @apply
        mt-2
    }

    .portfolio-modal__header {
        @apply
        flex md:flex-col flex-row md:items-start items-center md:justify-start justify-between gap-6
    }
}