@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-color: theme('colors.marrom-claro.700');
        --heading-color: theme('colors.vermelho-grena.DEFAULT');
    }

    .theme-dark {
        --text-color: theme('colors.bege-claro.DEFAULT');
        --heading-color: theme('colors.bege-claro.100');
    }

    body {
        @apply 
        bg-bege-claro-50
        font-variable leading-snug;
        color: var(--text-color);
    }

    p {
        color: var(--text-color);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply
        font-bold;
        color: var(--heading-color);
    }

    h1 {
        @apply 
        text-7xl/none
    }

    h2 {
        @apply
        text-6xl/none
    }

    h3 {
        @apply
        text-5xl
    }

    h4 {
        @apply
        text-2xl
    }

    .ph-icon {
        @apply
        text-2xl
    }

    img {
        @apply
        w-full h-auto
    }

    strong {
        @apply
        font-bold
    }
}