@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-color: theme('colors.marrom-claro.700');
        --heading-color: theme('colors.vermelho-grena.DEFAULT');
    }

    .theme-dark {
        --text-color: theme('colors.bege-claro.DEFAULT');
        --heading-color: theme('colors.bege-claro.100');
    }

    body {
        @apply 
        bg-bege-claro-50
        font-variable leading-snug
        overflow-x-hidden;
        color: var(--text-color);
    }

    p {
        color: var(--text-color);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply
        font-bold;
        color: var(--heading-color);
    }

    h1 {
        @apply 
        lg:text-7xl/none sm:text-6xl 2xs:text-5xl text-4xl
    }

    h2 {
        @apply
        lg:text-6xl/none sm:text-5xl text-4xl
    }

    h3 {
        @apply
        lg:text-5xl sm:text-4xl xxs:text-3xl text-2xl
    }

    h4 {
        @apply
        xxs:text-2xl text-xl
    }

    .ph-icon {
        @apply
        text-2xl
    }

    img {
        @apply
        w-full h-auto
    }

    strong {
        @apply
        font-bold
    }

    a:not(button):not(.btn):not(.no-style-link):not(.menu-item a):not(.link-more) {
        @apply
        underline
        transition-all duration-500
        hover:text-vermelho-grena
    }

    main {
        @apply
        overflow-x-hidden
    }
}