@layer components {
    /* Footer */
    .footer__logo {
        @apply
        xs:py-10 py-6
        border-t border-bege-claro
    }

    /* Suporte para animações 3D no logo */
    .footer__logo .content-image {
        @apply
        xs:max-w-[206px] max-w-[154px];
    }

    .footer__copyright {
        @apply
        py-6
        border-t border-bege-claro
    }

    .footer__copyright .content-text {
        @apply
        flex xs:flex-row flex-col xs:items-center items-start justify-between xs:gap-10 gap-2
    }

    .footer__copyright .content-text p {
        @apply
        mb-0
    }
}