@layer components {
    .btn {
        @apply
        inline-flex items-center justify-center gap-3
        text-lg font-bold
        bg-bege-claro-100
        py-4 px-6 rounded-full
        transition-all duration-300
    }

    .btn-primary {
        @apply
        bg-vermelho-grena text-bege-claro-50
        hover:bg-vermelho-grena-950
    }
}