@layer components {
    /* Cards */
    .card-contact {
        @apply
        flex flex-col items-start gap-2
    }

    .card-contact-header {
        @apply
        flex flex-col items-start xxs:gap-6 gap-4
    }

    .card-contact-header-icon .ph-icon {
        @apply
        xxs:text-5xl text-4xl text-marrom-claro
    }

    .card-contact-header-title h3 {
        @apply
        xxs:text-2xl text-xl
    }

    .card-contact-content {
        @apply
        flex flex-col items-start gap-2
    }

    .card-contact-content p {
        @apply
        xxs:text-xl text-base
    }
}