@layer components {
    .content-text {
        @apply
        w-full
    }

    .content-text p {
        @apply
        text-lg mb-4
    }

    .content-text *:last-child {
        @apply
        mb-0
    }
}