@layer components {
    /* Texto */
    .content-text {
        @apply
        w-full
    }

    .content-text > *{
        @apply
        mb-4
    }

    .content-text p {
        @apply
        text-lg
    }

    .content-text *:first-child {
        @apply
        mt-0
    }

    .content-text *:last-child {
        @apply
        mb-0
    }

    .content-text.content-text-base p {
        @apply
        text-base
    }

    .content-text.content-text-medium p {
        @apply
        text-lg
    }

    .content-text.content-text-large p {
        @apply
        xl:text-2xl text-xl
    }

    /* Imagem */
    .content-image {
        @apply
        relative
        w-full h-auto
    }

    .content-image img {
        @apply
        w-full h-auto
    }

    .content-image svg {
        @apply
        w-full h-auto
    }
}