@layer components {
    /* Nosso Processo */
    .nosso-processo {
        @apply
        relative py-24
        overflow-hidden
    }

    .nosso-processo__header {
        @apply
        mb-10
    }

    .nosso-processo__header .content-text h2 {
        @apply
        max-w-[704px]
    }

    .nosso-processo__item {
        @apply
        w-full h-full
        flex flex-col items-start justify-between
        p-10 bg-vermelho-grena
        transition-all duration-500
    }

    .nosso-processo__item-header {
        @apply
        w-full pb-20
        flex flex-col items-start gap-2.5
    }

    .nosso-processo__item-header h3 {
        @apply
        text-3xl/tight
    }
    
    .nosso-processo__item-header-suporte {
        @apply
        w-full
        flex items-center justify-start gap-2.5
        border-t border-marrom-claro pt-4
        text-bege-claro
    }

    .nosso-processo__item-content p {
        @apply
        text-bege-claro-50
    }

    /* Carousel */

    .nosso-processo__carousel.embla {
        margin: auto;
        --slide-spacing: 40px;
        --slide-size: calc(100% / 3);
    }

    .nosso-processo__carousel .embla__viewport {
        /* overflow: hidden; */
    }

    .nosso-processo__carousel .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(var(--slide-spacing) * -1);
        padding-right: var(--slide-spacing);
    }
    
    .nosso-processo__carousel .embla__slide {
        flex: 0 0 var(--slide-size);
        min-width: 0;
        padding-left: var(--slide-spacing);
    }

    .nosso-processo__carousel .embla__slide.embla__slide--active .nosso-processo__item {
        @apply
        rounded-tl-4xl
    }
}