@import "../fonts/cabinet-grotesk/css/cabinet-grotesk.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-display;
    }

    h1 {
        @apply text-4xl;
    }
}