@import "../fonts/cabinet-grotesk/css/cabinet-grotesk.css";

/* Base */
@import "./styles/global/base.css";

/* Componentetes reutilizáveis - Base */
@import "./styles/components/buttons.css";
@import "./styles/components/content.css";
@import "./styles/components/tags.css";

/* Componentetes reutilizáveis - Com possíveis agrupamentos */
@import "./styles/components/cards.css";

/* Componentetes reutilizáveis - Sections */
@import "./styles/sections/hero.css";

/* Componentetes reutilizáveis - Layouts */
@import "./styles/global/header.css";
@import "./styles/global/footer.css";

/* Classes utilitárias customizadas */
@import './styles/global/utilities.css';