@import "../fonts/cabinet-grotesk/css/cabinet-grotesk.css";

/* Phosphor Icons */
@import "../fonts/phosphor/thin/style.css";
@import "../fonts/phosphor/light/style.css";

/* Base */
@import "./styles/global/base.css";

/* Componentetes reutilizáveis - Base */
@import "./styles/components/buttons.css";
@import "./styles/components/content.css";
@import "./styles/components/tags.css";
@import "./styles/components/curve-section.css";
@import "./styles/components/forms.css";
@import "./styles/components/navs.css";
@import "./styles/components/heros.css";

/* Componentetes reutilizáveis - Com possíveis agrupamentos */
@import "./styles/components/cards.css";

/* Componentetes reutilizáveis - Sections */
@import "./styles/sections/home/hero.css";
@import "./styles/sections/home/nossa-historia.css";
@import "./styles/sections/home/nossos-servicos.css";
@import "./styles/sections/home/nosso-processo.css";
@import "./styles/sections/home/projetos.css";
@import "./styles/sections/home/dicas.css";
@import "./styles/sections/home/fale-conosco.css";

@import "./styles/sections/portfolio/hero.css";
@import "./styles/sections/portfolio/portfolio-grid.css";
@import "./styles/sections/portfolio/modal.css";

/* Componentetes reutilizáveis - Layouts */
@import "./styles/global/header.css";
@import "./styles/global/footer.css";

/* Classes utilitárias customizadas */
@import './styles/global/utilities.css';